@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --cream: #e9edc9;
  --coral: #e66b5b;
  --navy: #3e4c59;
  --sagegreen: #7f9a8a;
  --yellow: #f2cc8f;
  --lightyellow: #f3ffb6;
  --graypurple: #a69cac;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--navy);
  color: var(--cream);
  font-family: 'Sour Gummy', sans-serif;
  overflow-x: hidden;
}

body.dark {
  background-color: var(--navy);
  color: var(--cream);
}

body.light {
  background-color: var(--cream);
  color: var(--navy);
}

.top-container {
  transition: background-color 200ms ease, color 200ms ease,
    border-color 200ms ease;
}

html.dark body {
  background-color: black;
  color: white;
}

*:focus {
  outline: none;
}

button {
  transition: trasnform 0.2s ease;
}

button:hover {
  transform: scale(1.2) translateY(3px);
}
